.msg-container {
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 5rem;
}

.msg {
  width: 100rem;
  gap: 2rem;
  align-items: flex-start;
}

.msg > p {
  font-size: 1.6rem;
  width: 85rem;
}
