.cards {
  height: 10rem;
  max-width: 134.4rem;
  width: 100vw;
}
.card {
  height: 10rem;
  width: 44.96rem;
  border-right: 1px dotted black;
}
.card-title {
  color: var(--text-color);
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  .cards {
    height: 5rem;
  }
  .card-1,
  .card-2,
  .card-3 {
    height: 100%;
  }
  .card-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 425px) {
  .cards {
    flex-direction: column;
    margin: 0.5rem 0 3rem;
    height: 15rem;
  }
  .card {
    height: 5rem !important;
  }
}
