.about {
  flex-direction: column;
  width: 95vw;
  overflow: hidden;
  padding: 2rem;
  max-width: 134.4rem;
}
.about-title {
  margin-top: 2rem;
  color: var(--text-color);
  font-size: var(--heading-font-size);
}
.title-img {
  width: 10rem;
  margin-top: 2rem;
}

.sample-img {
  object-fit: cover;
  width: 50rem;
}
.about-paras {
  height: auto;
  letter-spacing: 0.1rem;
}
.sample-img {
  border-radius: 6px;
}
.about-p-1,
.about-p-2 {
  font-size: var(--primary-font-size);
}
.about-des {
  margin-top: 5rem;
  color: var(--text-color);
}
#about-us-read-more {
  background: #ff8400;
  text-transform: uppercase;
  border: 1px solid #ff8400;
  width: 13rem;
  font-size: var(--small-font-size);
  color: #fff;
  height: 4rem;
  border-radius: 6px;
  transition: 0.2s;
}
#about-us-read-more:hover {
  transition: 0.2s;
  background: white;
  color: #ff8400;
}
.slider-small {
  padding-top: 6rem;
  display: flex;
  gap: 3rem;
}
.slider-img {
  width: 35rem;
  object-fit: cover;
}
.abt-btn-container {
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 1024px) {
  .about-des {
    gap: 2rem;
  }
  .about-paras p {
    font-size: 1.2rem;
  }
  .sample-img {
    width: 100%;
  }

  .slider-small {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .sample-img {
    width: 25rem;
  }
  .about {
    justify-content: center;
  }
  .about-des {
    margin-top: 5rem;
    color: var(--text-color);
  }
}
@media (max-width: 645px) {
  .about-des {
    flex-direction: column-reverse;
  }
  .abt-btn-container {
    align-items: center;
  }
  #about-us-read-more {
    margin-right: 0;
    width: 62%;
  }
  .sample-img {
    width: 95vw;
  }

  .slider-small {
    flex-direction: column;
  }

  .about-title {
    font-size: 2.4rem;
    transform: translateX(-3rem);
  }
  .about-paras {
    width: 95vw;
    margin: auto;
    text-align: center;
  }
}
